<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorize - Autores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header id="container-banner">
        <div id="particles-js"></div>
        <div id="logo">
            <img src="{{ url_for('static', filename='img/logo-sem-fundo.png') }}" alt="Tutorize - IA na sua Experiência de Aprender">
        </div>
    </header>
    <main>
        <a class="voltar" href="/"><span class="material-symbols-outlined">arrow_back</span></a>
        <h1>Autores</h1>
        <article id="autores">
            <section class="default-margin">
                <ul>
                    {% for autor in autores %} 
                        <li>
                            <span>
                                {{ autor['nome'] }}
                            </span>
                            <a href="/autores/{{ autor['id'] }}"><span class="material-symbols-outlined">edit</span></a>
                        </li>
                    {% endfor %} 
                </ul>
            </section>
        </article>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="{{ url_for('static', filename='js/particles-init.js') }}"></script>
</body>
</html>